### Identifying Risky Bank Loans

#### Load the dataset

In [2]:
credit <- read.csv("credit.csv")
head(credit)

  checking_balance months_loan_duration credit_history purpose
1 < 0 DM            6                   critical       furniture/appliances
2 1 - 200 DM       48                   good           furniture/appliances
3 unknown          12                   critical       education
4 < 0 DM           42                   good           furniture/appliances
5 < 0 DM           24                   poor           car
6 unknown          36                   good           education
  amount savings_balance employment_duration percent_of_income
1 1169   unknown         > 7 years           4
2 5951   < 100 DM        1 - 4 years         2
3 2096   < 100 DM        4 - 7 years         2
4 7882   < 100 DM        4 - 7 years         2
5 4870   < 100 DM        1 - 4 years         3
6 9055   unknown         1 - 4 years         2
  years_at_residence age other_credit housing existing_loans_count job
1 4                  67  none         own     2                    skilled
2 2                  22  none         own     1                    skilled
3 3                  49  none         own     1                    unskilled
4 4                  45  none         other   1                    skilled
5 4                  53  none         other   2                    skilled
6 4                  35  none         other   1                    unskilled
  dependents phone default
1 1          yes   no
2 1          no    yes
3 2          no    no
4 2          no    no
5 2          no    yes
6 2          yes   no

In [3]:
str(credit)

'data.frame':	1000 obs. of  17 variables:
 $ checking_balance    : Factor w/ 4 levels "< 0 DM","> 200 DM",..: 1 3 4 1 1 4 4 3 4 3 ...
 $ months_loan_duration: int  6 48 12 42 24 36 24 36 12 30 ...
 $ credit_history      : Factor w/ 5 levels "critical","good",..: 1 2 1 2 4 2 2 2 2 1 ...
 $ purpose             : Factor w/ 6 levels "business","car",..: 5 5 4 5 2 4 5 2 5 2 ...
 $ amount              : int  1169 5951 2096 7882 4870 9055 2835 6948 3059 5234 ...
 $ savings_balance     : Factor w/ 5 levels "< 100 DM","> 1000 DM",..: 5 1 1 1 1 5 4 1 2 1 ...
 $ employment_duration : Factor w/ 5 levels "< 1 year","> 7 years",..: 2 3 4 4 3 3 2 3 4 5 ...
 $ percent_of_income   : int  4 2 2 2 3 2 3 2 2 4 ...
 $ years_at_residence  : int  4 2 3 4 4 4 4 2 4 2 ...
 $ age                 : int  67 22 49 45 53 35 53 35 61 28 ...
 $ other_credit        : Factor w/ 3 levels "bank","none",..: 2 2 2 2 2 2 2 2 2 2 ...
 $ housing             : Factor w/ 3 levels "other","own",..: 2 2 2 1 1 1 2 3 2 2 ...
 $ existing_loans_count: int  2 1 1 1 2 1 1 1 1 2 ...
 $ job                 : Factor w/ 4 levels "management","skilled",..: 2 2 4 2 2 4 2 1 4 1 ...
 $ dependents          : int  1 1 2 2 2 2 1 1 1 1 ...
 $ phone               : Factor w/ 2 levels "no","yes": 2 1 1 1 1 2 1 2 1 1 ...
 $ default             : Factor w/ 2 levels "no","yes": 1 2 1 1 2 1 1 1 1 2 ...

In [4]:
table(credit$checking_balance)

    < 0 DM   > 200 DM 1 - 200 DM    unknown
       274         63        269        394

In [5]:
table(credit$savings_balance)

     < 100 DM     > 1000 DM  100 - 500 DM 500 - 1000 DM       unknown
          603            48           103            63           183

In [7]:
summary(credit$months_loan_duration)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
    4.0    12.0    18.0    20.9    24.0    72.0

In [8]:
summary(credit$amount)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
    250    1366    2320    3271    3972   18424

In [9]:
table(credit$default)

 no yes
700 300

In [18]:
round(prop.table(table(credit$default))*100, digits = 1)

 no yes
 70  30

In [84]:
# Create a random order dataframe
set.seed(12345)
credit_rand <- credit[order(runif(1000)), ]

In [92]:
# suring that the same data frame sorted differently
head(credit_rand)

    checking_balance months_loan_duration credit_history purpose
14  < 0 DM           24                   critical       car
448 1 - 200 DM        7                   good           furniture/appliances
697 1 - 200 DM       12                   good           furniture/appliances
32  < 0 DM           24                   good           furniture/appliances
196 1 - 200 DM        9                   critical       education
83  unknown          18                   good           business
    amount savings_balance employment_duration percent_of_income
14  1199   < 100 DM        > 7 years           4
448 2576   < 100 DM        1 - 4 years         2
697 1103   < 100 DM        4 - 7 years         4
32  4020   < 100 DM        1 - 4 years         2
196 1501   < 100 DM        > 7 years           2
83  1568   100 - 500 DM    1 - 4 years         3
    years_at_residence age other_credit housing existing_loans_count job
14  4                  60  none         own     2                    unskilled
448 2                  35  none         own     1                    skilled
697 3                  29  none         own     2                    skilled
32  2                  27  store        own     1                    skilled
196 3                  34  none         own     2                    management
83  4                  24  none         rent    1                    unskilled
    dependents phone default
14  1          no    yes
448 1          no    no
697 1          no    no
32  1          no    no
196 1          yes   yes
83  1          no    no

In [90]:
summary(credit$amount)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
    250    1366    2320    3271    3972   18424

In [91]:
summary(credit_rand$amount)

   Min. 1st Qu.  Median    Mean 3rd Qu.    Max.
    250    1366    2320    3271    3972   18424

In [99]:
head(credit$amount)

[1] 1169 5951 2096 7882 4870 9055

In [100]:
head(credit_rand$amount)

[1] 1199 2576 1103 4020 1501 1568

In [101]:
# split the training and test dataset
credit_train <- credit_rand[1:900, ]
credit_test <- credit_rand[901:1000, ]

In [109]:
# check that 30 percent of defaulted loans in each of the datasets
round(prop.table(table(credit_train$default)) * 100, digits = 2)

   no   yes
70.22 29.78

In [112]:
round(prop.table(table(credit_test$default)) * 100, digits = 2)

 no yes
 68  32